
brand-primary = rgb(0, 133, 161)
f-color = white
gray = lighten(rgb(0, 0, 0), 50%)
gray-overlay = lighten(rgba(0, 0, 0, .7), 50%)
white-faded = rgba(255, 255, 255, .8)
gray-light = rgb(238, 238, 238)
color-border = rgb(221, 221, 221)
color-meta = gray
b-color = lighten(rgb(0, 0, 0), 25%);

font-mono = Monaco, Menlo, Consolas, Courier New, monospace
font-serif = "Georgia", serif
